.btn {
  .btn-check:checked+&,
  :not(.btn-check)+&:active,
  &:first-child:active,
  &.active,
  &.show {
    border-color: transparent;
  }

}

.btn-primary {
  .btn-check:checked+&,
  :not(.btn-check)+&:active,
  &:first-child:active,
  &.active,
  &.show {
    background-color: #233E39;
  }
}

.btn-secondary {
  color: white;

  &:hover{
    color: white;
  }

  .btn-check:checked+&,
  :not(.btn-check)+&:active,
  &:first-child:active,
  &.active,
  &.show {
    color: white;
    background-color: #825B3D;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    color: white;
  }
}

.btn-outline-primary {
  background-color: transparent;

  .btn-check:checked+&,
  :not(.btn-check)+&:active,
  &:first-child:active,
  &.active,
  &.show {
    color: #233E39;
    border: 1px solid #233E39;
    background-color: $theme-primary;
  }
}

.btn-outline-secondary {
  background-color: transparent;

  &:hover{
    color: white;
  }

  .btn-check:checked+&,
  :not(.btn-check)+&:active,
  &:first-child:active,
  &.active,
  &.show {
    color: #825B3D;
    border: 1px solid #825B3D;
    background-color: $theme-secondary;
  }
}

.link-primary {
  &.active{
    color: #233E39;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    color: $gray-400;
  }
}

.link-secondary {
  &.active{
    color: #825B3D;
  }
}
